

@import "../../../../../assets/css/style.css";

:host::ng-deep .doc-table .ui-table table {
    width: 6000px !important;
}
:host::ng-deep .ui-table-wrapper{
overflow-x: scroll;
}

.add-icon{
    font-size: 12px;
    color: #ffffff;
    margin-top: 27px;
    padding: 8px 19px;
    background: #0e69dd;
}
.spec-table {
      /*  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */

    border-collapse: collapse;
    width: 100%;
  }

  .spec-table td, .spec-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .spec-table tr:nth-child(even){background-color: #f2f2f2;}

  .spec-table tr:hover {background-color: #ddd;}

  .spec-table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #747f7f;
    color: white;
font-weight:500;
  }
  .details li {
    list-style: none;
  }
  li {
      margin-bottom:10px;
      
  }
  .pr-img img{
    width: 30px;
    border-radius: 50%;
  }
  .pr-det th, .pr-det td {
    font-size: 12px;
    padding: 10px 5px;
  }
  .pr-det {
    /* width: 50%; */
  }
  .pr-det tr{
    border-bottom: 1px solid #dadada;
  }
  .pr-hd{
    padding: 10px;
    background: #0A2440;
    color: #fff;
  }
  :host::ng-deep .ui-dialog .ui-dialog-content {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #c8c8c8;
    padding: 0px 10px;
    overflow: hidden;
  }
  .pr-v{
    margin-right: 0px;
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
    position: absolute;
    right: 0;
    top: 0px;
    cursor: pointer;
  }
  .follow{
    position: fixed;
      right: 0;
      top: 50px;
      background-color: rgb(255 255 255);
      box-shadow: 0px 0px 5px 0px #90a1b3;
  }
  .follow i {
      color:rgb(144 161 179);
      width: auto;
      height: auto;
      font-size: 17px !important;
      cursor: pointer;
  }
  .active-i .mat-icon{
    background-color: #a8b2c1;
    color: #1758ad;
  }
  :host::ng-deep .ui-helper-reset {
    line-height: normal;
    display: none;
  }
  :host::ng-deep  .ui-carousel-prev, .ui-carousel-next {
    align-self: center;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }
  :host::ng-deep  .ui-carousel-next {
    align-self: center;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }
  :host::ng-deep  .pi-chevron-right:before {
    font-size: 10px !important;
}
:host::ng-deep  .pi-chevron-left:before {
  font-size: 12px;
}
:host::ng-deep .ui-clickable {
  padding: 0px 3px !important;
  display: none;
}
