<!-- <h4 class="title">Follow up Save</h4> -->
<div class="row">
    <div class="col-md-12">
        <h4 class="title-f">Settlement Recording</h4>
        <div class="card-box">
            <h4 class="title-f">Account Summary</h4>
            <div class="row" style="padding: 0px 0px 23px 10px;">
                <div class="col-md-3">
                    <h5 class="form-lable">Loan No./Account No.:</h5>
                    <input type="text" pInputText placeholder="" value="0987654123" disabled>
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">Customer Name:</h5>
                    <input type="text" pInputText placeholder="" value="Vignesh" disabled>
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">Customer ID:</h5>
                    <input type="text" pInputText placeholder="" value="9865474" disabled>
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">Branch:</h5>
                    <input type="text" pInputText placeholder="" value="Chennai" disabled>
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">Product:</h5>
                    <input type="text" pInputText placeholder="" value="Bike" disabled>
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">% Waiver Limit:</h5>
                    <input type="text" pInputText placeholder="" value="20" disabled>
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">Minimum Settlement Amount:</h5>
                    <input type="text" pInputText placeholder="" value="20" disabled>
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">Currency:</h5>
                    <input type="text" pInputText placeholder="" value="INR" disabled>
                </div>
                <!-- <div class="col-md-3 mt-20">
                  <button type="button" class="btn btn-primary">Save</button>
             </div> -->

            </div>

            <h4 class="title-f">Settlement Period</h4>
            <div class="row" style="padding: 0px 0px 23px 10px;">

                <div class="col-md-3">
                    <h5 class="form-lable">From Date :</h5>
                    <input type="text" pInputText placeholder="" value="">
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">To Date :</h5>
                    <input type="text" pInputText placeholder="" value="">
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">Remarks:</h5>
                    <input type="text" pInputText placeholder="" value="">
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">Total Settlement Amount:</h5>
                    <input type="text" pInputText placeholder="" value="">
                </div>
                <div class="col-md-3">
                    <h5 class="form-lable">Currency:</h5>
                    <input type="text" pInputText placeholder="" value="INR">
                </div>
                <div class="col-md-12" style="margin-top: 15px;">
                    <!-- <div class="row">
                      <div class="col-md-4">
                          <div class="search-hero">
                              <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                                  [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
                          </div>
                      </div>
                      <div class="col-md-8 text-right">
                          <button type="button" class="btn btn-primary mr-0"> Calculate Total</button> 
                      </div>
                  </div> -->
                    <div class="doc-table">
                        <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt
                            [paginator]="false" [rows]="5" [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['type']">
                            <ng-template pTemplate="header">
                                <tr style="text-align: center;">
                                    <th>S.No</th>
                                    <th>Check/DD No. </th>
                                    <th>Bank Details</th>
                                    <th>Branch Details</th>
                                    <th>Currency</th>
                                    <th>Installment Amount</th>
                                    <th>Instrument Date</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>1</td>
                                    <td><input type=""></td>
                                    <td><input type=""></td>
                                    <td><input type=""></td>
                                    <td><input type=""></td>
                                    <td><input type=""></td>
                                    <td><input type=""></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<a (click)="table_v = !table_v" class="link-a">View Settlement History</a>
<ng-container *ngIf="table_v == true">

    <h4 class="title">Settlement History</h4>

    <div class="doc-table">
        <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="false" [rows]="5"
            [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['type']">
            <ng-template pTemplate="header">
                <tr style="text-align: center;">
                    <th>S.No</th>
                    <th>Settlement Type</th>
                    <th>Installment Amount</th>
                    <th>Instrument Date</th>
                    <th>Remarks</th>
                    <th>Total Settlement Amount</th>
                </tr>
                <tr style="text-align: center;">
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <br>

</ng-container>

<!-- <div class="row" style="padding: 0px 0px 23px 10px;">
    <div class="col-md-3">
      <h5 class="form-lable">Loan No./Account No.:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">Customer Name:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">DPD>=:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">Card Number:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">Branch:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">Product:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">Bucket:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">Queue:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">Car Type:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">POS / Curr Acc Bal:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">Sub Product Code:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    <div class="col-md-3">
      <h5 class="form-lable">Scheme:</h5>
      <input type="text" pInputText placeholder="" value="">
    </div>
    
    <div class="col-md-3 mt-20">
            <button type="button" class="btn btn-primary">Save</button>
       </div>

  </div> -->