<div class="col-md-12">
    <h4 class="title" style="margin-top: 15px;">Statcard</h4>
    <div class="card-box">
        
       
        <div class="row" style="padding: 0px 0px 23px 10px;">
            <div class="col-md-4">
                <h5 class="form-lable">Contact #:</h5>
                <input type="text" pInputText placeholder="" value="A8795641230">

                <h5 class="form-lable">Customer Name:</h5>
                <input type="text" pInputText placeholder="" value="Vignesh V">

                <h5 class="form-lable">Mobile:</h5>
                <input type="text" pInputText placeholder="" value="9876543210">

                
                <h4 class="title-f" style="margin-top: 15px;">Customer Details</h4>

                <h5 class="form-lable">Registered Address:</h5>
                <input type="text" pInputText placeholder="" value="Registered Address of CH">

                <h5 class="form-lable">Mailing Address:</h5>
                <input type="text" pInputText placeholder="" value="Mailing Address of CH">

                <h5 class="form-lable">Gaurantor:</h5>
                <input type="text" pInputText placeholder="Name of the Gaurantor">


                
                <h4 class="title-f" style="margin-top: 15px;">Contact Details</h4>

                <h5 class="form-lable">Gender/Maritial Status:</h5>
                <input type="text" pInputText placeholder="" value="M/Single">

                <h5 class="form-lable">DOB:</h5>
                <input type="text" pInputText placeholder="" value="07-09-1992">

                <h5 class="form-lable">Nationality:</h5>
                <input type="text" pInputText placeholder="" value="Indian">

                <h5 class="form-lable">Occupation Desg:</h5>
                <input type="text" pInputText placeholder="" value="Software">

                <hr />

                <h5 class="form-lable">Delq.string:</h5>
                <input type="text" pInputText placeholder="" value="1/1/NA/NA/NA/NA/NA">

                <h5 class="form-lable">Cycle String:</h5>
                <input type="text" pInputText placeholder="" value="1/2-/-/-/-/-/-/[3/7]">

                <h5 class="form-lable">Sticky Notes:</h5>
                <input type="text" pInputText placeholder="" value="Account Sticky Notes be shown">

                <h5 class="form-lable">Customer Sticky Notes:</h5>
                <input type="text" pInputText placeholder="" value="Customer Stiky Notes be shown">


            </div>
            <div class="col-md-4">
                
                <h4 class="title-f" style="margin-top: 15px;">Payment Details</h4>

                <h5 class="form-lable">Last Paid Date:</h5>
                <input type="text" pInputText placeholder="" value="05-11-2013">

                <h5 class="form-lable">Payment Mode:</h5>
                <input type="text" pInputText placeholder="" value="Cash">

                <h5 class="form-lable">Collected By:</h5>
                <input type="text" pInputText placeholder="CHARILE">

                <h5 class="form-lable">Amount</h5>
                <input type="text" pInputText placeholder="" value="12000">

                
                <h4 class="title-f" style="margin-top: 15px;">Financial Details</h4>
                <h5 class="form-lable">OS Amount:</h5>
                <input type="text" pInputText placeholder="" value="340000">

                <h5 class="form-lable">OD Amount:</h5>
                <input type="text" pInputText placeholder="" value="42000">

                <h5 class="form-lable">OD Days:</h5>
                <input type="text" pInputText placeholder="" value="61">

                <h5 class="form-lable">Times Delq.#:</h5>
                <input type="text" pInputText placeholder="" value="2">

                <h5 class="form-lable">Peak OD Days:</h5>
                <input type="text" pInputText placeholder="" value="71">

                <h5 class="form-lable">Delq. Start Date:</h5>
                <input type="text" pInputText placeholder="" value="05.7.2014">

                <h5 class="form-lable">Bucket:</h5>
                <input type="text" pInputText placeholder="" value="3">

                <h5 class="form-lable">Cycle Days:</h5>
                <input type="text" pInputText placeholder="" value="12">

                <h5 class="form-lable">Action/Result:</h5>
                <input type="text" pInputText placeholder="" value="OC/PTP">
            </div>
            <div class="col-md-4">
                
                <h4 class="title-f" style="margin-top: 15px;">Assets Details</h4>
                <h5 class="form-lable">Model:</h5>
                <input type="text" pInputText placeholder="" value="MU-X">

                <h5 class="form-lable">Brand:</h5>
                <input type="text" pInputText placeholder="" value="ISUZU">

                <h5 class="form-lable">Color:</h5>
                <input type="text" pInputText placeholder="" value="Black">

                <h5 class="form-lable">Engine No:</h5>
                <input type="text" pInputText placeholder="" value="12365478529">

                <h5 class="form-lable">Chassis No:</h5>
                <input type="text" pInputText placeholder="" value="87956421225">

                <h5 class="form-lable">VIN Number:</h5>
                <input type="text" pInputText placeholder="" value="61255858256">

                <h5 class="form-lable">Lisence No:</h5>
                <input type="text" pInputText placeholder="" value="LIC187212">

                <h5 class="form-lable">Changwat:</h5>
                <input type="text" pInputText placeholder="" value="BANGKOK">

                <h5 class="form-lable">Reg.Year:</h5>
                <input type="text" pInputText placeholder="" value="2010">

                <h5 class="form-lable">Dealer:</h5>
                <input type="text" pInputText placeholder="" value="Dealer Code">

                <h5 class="form-lable">Showroom:</h5>
                <input type="text" pInputText placeholder="" value="Showroom Name">

                <h5 class="form-lable">MO Name:</h5>
                <input type="text" pInputText placeholder="" value="Marketing Officer Name">

                
                <h4 class="title-f" style="margin-top: 15px;">Follow Up Details</h4>

                <h5 class="form-lable">Date/User:</h5>
                <input type="text" pInputText placeholder="" value="01-05-2014">

                <h5 class="form-lable">Action/Result:</h5>
                <input type="text" pInputText placeholder="" value="OC/PTP">

            </div>
            <div class="col-md-12">

                
                <h4 class="title-f" style="margin-top: 15px;">Promise Details</h4>
                <div class="row">
                    <div class="col-md-2">
                        <h5 class="form-lable">Taken On:</h5>
                        <input type="text" pInputText placeholder="" value="01.05.2014">

                    </div>
                    <div class="col-md-2">
                        <h5 class="form-lable">Taken By:</h5>
                        <input type="text" pInputText placeholder="" value="CHERILE">
                
                    </div>
                    <div class="col-md-2">
                        <h5 class="form-lable">Promise Date:</h5>
                        <input type="text" pInputText placeholder="" value="04.05.2014">
                
                    </div>
                    <div class="col-md-2">
                        <h5 class="form-lable">Amount Status:</h5>
                        <input type="text" pInputText placeholder="" value="15000 Live">
                
                    </div>
                    <div class="col-md-2">
                        <h5 class="form-lable">Payment Date:</h5>
                        <input type="text" pInputText placeholder="" value="03.05.2014">
                
                    </div>
                    <div class="col-md-2">
                        <h5 class="form-lable">Payment Amount:</h5>
                        <input type="text" pInputText placeholder="" value="">
                
                    </div>
                </div>

                
            </div>
            <div class="col-md-12">

                
                <h4 class="title-f" style="margin-top: 15px;">Payment Details</h4>
                <div class="row">
                
                    <div class="col-md-4">
                        <h5 class="form-lable">Transaction Date:</h5>
                        <input type="text" pInputText placeholder="">
                
                    </div>
                
                    <div class="col-md-4">
                        <h5 class="form-lable">Value Date:</h5>
                        <input type="text" pInputText placeholder="">
                
                    </div>
                    <div class="col-md-4">
                        <h5 class="form-lable">Amount:</h5>
                        <input type="text" pInputText placeholder="" value="">
                
                    </div>
                </div>

                
            </div>
            <!-- <div class="col-md-12 mt-20">
              <button type="button" class="btn btn-primary">Add</button>
         </div> -->

        </div>
    </div>
</div>