<h4 class="title">Customer Management</h4>
<div class="row">
    <div class="col-md-4">
        <div class="search-hero">
            <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
        </div>
    </div>
    <div class="col-md-8 text-right">
        <!-- <button type="button" class="btn btn-primary mr-0" (click)="service_form()">Add</button> -->
    </div>
</div>
<div class="doc-table">
<p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="5"
    [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">
   
    <ng-template pTemplate="header" >
        <tr class="thhead">
            <th class="th-1">
                S.No
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <!-- <th>Created by</th>
            <th>Modified by</th> -->
            <th>Created Date</th>
            <th>Last Login Date</th>
            <th style="width: 163px;text-align:center">
                Action
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex" >
        <tr  class="tdrow">
            <td>{{i+1}}</td>
            <!-- <td>
                <div class="card-box-i">
                    <img src="assets/images/007.png" alt="">
                </div>
            </td> -->
            <td>Owner name-1</td>
            <td>test@gmail.com</td>
            <td>9876543210</td>
            <td>
                16-09-2020
            </td>
            <td>
                17-09-2020
            </td>
            <td class="act">
                <i style="color: #4CAF50;" class="fa fa-paw" aria-hidden="true"  pTooltip="View Pet" (click)="pet_view()"></i>
                <i style="color: #31ccfc;" class="fa fa-info-circle" aria-hidden="true"  pTooltip="View Details"></i>
                <i style="color: #1b1b1b;" class="fa fa-ban" aria-hidden="true"  pTooltip="Block"></i>
                <i style="color: #2196f3;" class="fa fa-pencil-square-o" aria-hidden="true" pTooltip="Edit"></i>
                <i style="color: #fd2c3a;" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"></i>
           
            </td>
        </tr>
    </ng-template>
</p-table>