<section>
    <div class="container" style="width: 100%;">
        <p> <i (click)="back()" class="fa fa-arrow-left" aria-hidden="true"></i> Back </p>
        <div class="card-box">
            <div class="row" style="padding: 0px 0px 23px 10px;">
                <div class="col-md-3">
                    <img src="assets/images/005.png" alt="" class="pro-pic">
                </div>
                <div class="col-md-9">
                    <h1 style="margin-bottom: 0px;"></h1>
                    <p class="title">Lorem Ipsum</p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> test@gmail.com - <i class="fa fa-phone"
                            aria-hidden="true"></i>9876543210</p>
                    <p style="font-size:12px;font-weight: 500;"><i class="fa fa-briefcase" aria-hidden="true"></i>
                        Lorem Ipsum </p>
                    <!-- <div class="p-field p-col-12 p-md-4">
                        <label (click)="doc_cal()">Doctor Calendar <i class="fa fa-calendar"
                                aria-hidden="true"></i></label>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 25px;">
                <div class="spec">
                    <h5>Portfolios Details</h5>

                </div>
                <div class="card-box">
                    <!-- <div>
                        <table cellpadding="5" cellspacing="0">
                            <tr>
                                <th> <label for="f-user"> Specialisation </label> </th>

                                <td class="desc">
                                    <ng-container *ngFor="let spe of data.Specilization; let i=index">
                                        {{i+1}}.{{spe}}<br />
                                    </ng-container>
                                </td>
                            </tr>
                            <tr>
                                <th> <label for="f-pass1"> Date of Birth </label> </th>

                                <td class="desc"> {{data.DOB}}</td>
                            </tr>
                            <tr>
                                <th> <label for="f-pass2">Gender </label> </th>

                                <td class="desc"> {{data.Gender}} </td>
                            </tr>
                            <tr>
                                <th> <label for="f-dispname">University </label> </th>

                                <td class="desc"> {{data.HighestQualifications}} </td>
                            </tr>
                            <tr>
                                <th> <label for="f-dispname">Year of Passout </label> </th>

                                <td class="desc"> {{data.Year_of_Passout}} </td>
                            </tr>
                            <tr>
                                <th> <label for="f-email"> Languages </label> </th>

                                <td class="desc">
                                    <ng-container *ngFor="let spe of data.Languages; let i=index">{{i+1}}.{{spe}}<br />
                                    </ng-container>
                                </td>
                            </tr>

                            <tr>
                                <th> <label for="f-tos">Available Hours </label> </th>

                                <td class="desc"> {{data.AvailableHours}} </td>
                            </tr>
                            <tr>
                                <th> <label for="f-tos"> Available Type </label> </th>

                                <td class="desc"> {{data.Available_type}} </td>
                            </tr>
                            <tr>
                                <th> <label for="f-tos"> Charges Per Appointment </label> </th>

                                <td class="desc"> {{data.Charge_Per_15min}} </td>
                            </tr>
                            <tr>
                                <th><label for="f-tos"> Live Status</label></th>
                                <td class="desc"> {{data.Live_Status}} </td>
                            </tr>
                            <tr>
                                <th><label for="f-tos"> Current Location</label></th>
                                <td class="desc"> {{data.Current_location}} </td>
                            </tr>

                            <tr>
                                <th><label for="f-tos">Doctor Brife</label></th>
                                <td class="desc"> {{data.Special_mention}} </td>
                            </tr>


                            <tr>
                                <th><label for="f-tos">About Doctor</label></th>
                                <td class="desc"> {{data.Information}} </td>
                            </tr>
                            <tr>
                                <th><label for="f-tos">KMS Registration Number</label></th>
                                <td class="desc"> {{data.KMS_registration}} </td>
                            </tr>
                            <tr>
                                <th><label for="f-tos">Signature</label></th>
                                <td class="desc"> <img style="width: 100px;" src="{{data.signature}}" alt="" /> </td>
                            </tr>


                        </table>
                    </div> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="search-hero">
                                <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                                    [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
                            </div>
                        </div>
                        <div class="col-md-8 text-right">
                            <button type="button" class="btn btn-primary mr-0" (click)="portfolio()">Add</button>
                        </div>
                    </div>
                    <div class="doc-table">

                        <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true"
                            [rows]="5" [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['type']">
                            <!-- <ng-template pTemplate="caption">
                        <div fxLayout="row" fxLayoutAlign="space-around center">
                            <div fxFlex="50">
                                <h5 style="color:#fff;">Entry Type List</h5>
                            </div>
                            <div fxFlex="50">
                                <div class="ui-table-globalfilter-container">
                                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" (input)="tt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Entry Type">
                                </div>
                            </div>
                
                        </div>
                
                    </ng-template> -->
                            <ng-template pTemplate="header">
                                <tr class="thhead">
                                    <th class="th-1">
                                        S.No
                                    </th>
                                    <th>
                                        Portfolio Name
                                    </th>
                                    <th>
                                        Portfolio Type
                                    </th>
                                    <th>
                                        Portfolio Data set
                                    </th>
                                    <!-- <th>contact persons</th> -->
                                    <!-- <th>Created by</th>
                            <th>Modified by</th>
                            <th>Created at</th>
                            <th>Modified at</th> -->
                                    <th style="width: 110px;text-align:center">
                                        Action
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-i="rowIndex">
                                <tr class="tdrow">
                                    <td>{{i+1}}</td>
                                    <td>Type-1</td>
                                    <td>Lorem ipsum.</td>
                                    <td>Lorem ipsum.</td>
                                    <!-- <td>Lorem ipsum.</td> -->
                                    <!-- <td>
                                User
                            </td>
                            <td>
                                Admin
                            </td>
                            <td>
                                16-09-2020
                            </td>
                            <td>
                                17-09-2020
                            </td> -->
                                    <td class="act">
                                        <i style="color: #2196f3;" class="fa fa-pencil-square-o" aria-hidden="true"
                                            pTooltip="Edit"></i>
                                        <i style="color: #fd2c3a;" class="fa fa-trash" aria-hidden="true"
                                            pTooltip="Delete"></i>
                                        <i style="color: #4CAF50;" class="fa fa-user" aria-hidden="true"
                                            pTooltip="Profile"></i>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 25px;">
                <div class="spec">
                    <h5>Client representative/contact persons</h5>

                </div>
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="search-hero">
                                <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                                    [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
                            </div>
                        </div>
                        <div class="col-md-8 text-right">
                            <button type="button" class="btn btn-primary mr-0">Add</button>
                        </div>
                    </div>
                    <div class="doc-table">

                        <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true"
                            [rows]="5" [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['type']">
                            <!-- <ng-template pTemplate="caption">
                        <div fxLayout="row" fxLayoutAlign="space-around center">
                            <div fxFlex="50">
                                <h5 style="color:#fff;">Entry Type List</h5>
                            </div>
                            <div fxFlex="50">
                                <div class="ui-table-globalfilter-container">
                                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" (input)="tt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Entry Type">
                                </div>
                            </div>
                
                        </div>
                
                    </ng-template> -->
                            <ng-template pTemplate="header">
                                <tr class="thhead">
                                    <th class="th-1">
                                        S.No
                                    </th>
                                    <th>
                                        Client Type
                                    </th>
                                    <th>
                                        Client Name
                                    </th>
                                    <th>
                                        Client Address
                                    </th>
                                    <th>contact persons</th>
                                    <!-- <th>Created by</th>
                            <th>Modified by</th>
                            <th>Created at</th>
                            <th>Modified at</th> -->
                                    <th style="width: 110px;text-align:center">
                                        Action
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-i="rowIndex">
                                <tr class="tdrow">
                                    <td>{{i+1}}</td>
                                    <td>Type-1</td>
                                    <td>Lorem ipsum.</td>
                                    <td>Lorem ipsum.</td>
                                    <td>Lorem ipsum.</td>
                                    <!-- <td>
                                User
                            </td>
                            <td>
                                Admin
                            </td>
                            <td>
                                16-09-2020
                            </td>
                            <td>
                                17-09-2020
                            </td> -->
                                    <td class="act">
                                        <i style="color: #2196f3;" class="fa fa-pencil-square-o" aria-hidden="true"
                                            pTooltip="Edit"></i>
                                        <i style="color: #fd2c3a;" class="fa fa-trash" aria-hidden="true"
                                            pTooltip="Delete"></i>
                                        <i style="color: #4CAF50;" class="fa fa-user" aria-hidden="true"
                                            pTooltip="Profile"></i>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- <p-dialog header="Available Date" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
<ng-container *ngIf="calendar.length == 0">
<h3 style="text-align:center">Data not found</h3>
</ng-container>
<ng-container *ngIf="calendar.length > 0">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of calendar; let i = index;">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{item.Doctor_ava_Date}}</td>
                    <td>
                        <ng-container *ngFor="let ite of item.Time">
                            <span>{{ite.Total_time_slot}}</span>
                        </ng-container>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-container>
    
</p-dialog> -->