<div class="main">


    <div class="container">
        <center>
            <div class="middle">
                <div class="logo">
                    <div class="img-sec">
                        <img src="assets/images/logo-01.png" style="width: 200px;height: 100%;;" alt="">

                    </div>
                    <img src="assets/images/dept.png" style="width: 300px;height: auto;padding: 50px 20px 145px 20px;"
                        alt="">
                    <div>
                        <p class="logo-p">&#169; 2020-21 All Rights Reserved <br>Powered By <span>Bees Technologies Pvt.
                                Ltd.</span></p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div id="login" *ngIf="forget == false">

                    <form>
                        <h5 class="l-h5 text-center">Welcome Back</h5>
                        <p class="text-center" style="color: #fde100;font-weight: 500;">Sign in to your account</p>
                        <fieldset class="clearfix height-form">

                            <div>
                                <!-- <span class="fa fa-user"></span> -->
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon" style="padding: 16.5px;position: relative;top: -1px;background: #fff;"><i class="pi pi-user"></i></span>
                                    <input type="text" pInputText placeholder="Username" style="width:80%">         
                                </div>
                                <!-- <input type="text" Placeholder="Username" required> -->
                            </div>
                            <div>
                                <!-- <span class="fa fa-lock"></span> -->
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon" style="padding: 16.5px;position: relative;top: -1px;background: #fff;"><i class="fa fa-lock"></i></span>
                                    <input type="password" pInputText placeholder="Password" style="width:82%">         
                                </div>
                                <!-- <input type="password" Placeholder="Password" required> -->
                            </div>
                            <div>
                                <!-- <span style="width:48%; text-align:left;  display: inline-block;" class="small-text">
                                    <input type="checkbox" name="loginkeeping" value="loginkeeping" class="check" />
                                    <label for="loginkeeping">Keep me logged in</label></span> -->
                                    <span style="width:48%; text-align:left;  display: inline-block;text-decoration: underline;"><a class="small-text"
                                        (click)="forgot()">Reset
                                        password</a></span>
                                <span style="width:48%; text-align:right;  display: inline-block;"><a class="small-text"
                                        (click)="forgot()">Forgot
                                        password?</a></span>
                            </div>
                        </fieldset>

                        <div>
                            <span style="width:50%; text-align:center;  display: inline-block;" (click)="login()"><input class="log-btn"
                                    type="submit" value="Login" style="border-radius: 20px;background: #e3db00;"></span>
                        </div>
                        <div class="clearfix"></div>
                    </form>

                    <div class="clearfix"></div>

                </div> <!-- end login -->
                <div id="login" class="forgot" *ngIf="forget == true">

                    <form>
                        <h5 class="l-h5">Forgot password</h5>
                        <fieldset class="clearfix height-form">

                            <p>
                                <!-- <span class="fa fa-user"></span> -->
                                <input type="text" Placeholder="Email id" required></p>
                            <!-- JS because of IE support; better: placeholder="Username" -->
                            <!-- <p><span class="fa fa-lock"></span><input type="password"  Placeholder="Password" required></p> -->
                            <div>
                                <span style="width:100%; text-align:left;  display: inline-block;"><a class="small-text"
                                        (click)="backtologin()">Back to Login</a></span>

                            </div>

                        </fieldset>
                        <span style="width:50%; text-align:center;  display: inline-block;"><input type="submit"
                                value="Send"></span>
                        <div class="clearfix"></div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>
        </center>
    </div>

</div>