<div class="main">


    <div class="container">
        <center>
            <div class="middle">
                <div class="logo">
                    <img src="assets/images/login.png" style="width: 100%;height: 100%;" alt="">

                    <div class="clearfix"></div>
                </div>

                <div id="login" *ngIf="forget == false">

                    <form>
                        <h5 class="l-h5">LOGIN</h5>
                        <fieldset class="clearfix height-form">

                            <p>
                                <!-- <span class="fa fa-user"></span> -->
                                <input type="text" Placeholder="Username" required></p>
                            <p>
                                <!-- <span class="fa fa-lock"></span> -->
                                <input type="password" Placeholder="Password" required>
                            </p>
                            <div>
                                <span style="width:48%; text-align:left;  display: inline-block;" class="small-text">
                                    <input type="checkbox" name="loginkeeping" value="loginkeeping" class="check" />
                                    <label for="loginkeeping">Keep me logged in</label></span>
                                <span style="width:48%; text-align:right;  display: inline-block;"><a class="small-text"
                                        (click)="forgot()">Forgot
                                        password?</a></span>
                            </div>
                        </fieldset>
                        
                        <div>
                            <span style="width:50%; text-align:center;  display: inline-block;"
                                (click)="login()"><input type="submit" value="Login"></span>
                        </div>
                        <div class="clearfix"></div>
                    </form>

                    <div class="clearfix"></div>

                </div> <!-- end login -->
                <div id="login" class="forgot" *ngIf="forget == true">

                    <form>
                        <h5 class="l-h5">Forgot password</h5>
                        <fieldset class="clearfix height-form">

                            <p>
                                <!-- <span class="fa fa-user"></span> -->
                                <input type="text" Placeholder="Email id" required></p>
                            <!-- JS because of IE support; better: placeholder="Username" -->
                            <!-- <p><span class="fa fa-lock"></span><input type="password"  Placeholder="Password" required></p> -->
                            <div>
                                <span style="width:100%; text-align:left;  display: inline-block;"><a class="small-text"
                                        (click)="backtologin()">Back to Login</a></span>
                                
                            </div>

                        </fieldset>
                        <span style="width:50%; text-align:center;  display: inline-block;"><input type="submit"
                            value="Send"></span>
                        <div class="clearfix"></div>
                    </form>

                    <div class="clearfix"></div>

                </div>
            </div>
        </center>
    </div>

</div>