<h4 class="title">Pet List</h4>
<div class="row">
    <div class="col-md-4">
        <div class="search-hero">
            <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
        </div>
    </div>
    <div class="col-md-8 text-right">
        <button type="button" class="btn btn-primary" style="color: #FFF;background-color: #fc4652;border: none;margin-right: 10px;" (click)="back()">Back</button>
        <button type="button" class="btn btn-primary mr-0" (click)="service_form()">Add</button>
    </div>
</div>
<div class="doc-table">
<p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="5"
    [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">
   
    <ng-template pTemplate="header" >
        <tr class="thhead">
            <th class="th-1">
                S.No
            </th>
            <th>
                Pet Photo
            </th>
            <th>
                Pet name
            </th>
            <th>
                Pet Type 
            </th>
            <th>
                Pet Breed 
            </th>
            <th>
                Pet Gender
            </th>
            <th>
                Pet color
            </th>
            <th>
                Pet weight
            </th>
            <th>
                Pet age 
            </th>
            <th>
                Vaccinated
            </th>
            <th>
                Last Vaccinated date
            </th>
            <th>Created by</th>
            <th>Modified by</th>
            <th>Created at</th>
            <th>Modified at</th>
            <th style="width: 163px;text-align:center">
                Action
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex" >
        <tr  class="tdrow">
            <td>{{i+1}}</td>
            <td>
                <div class="card-box-i">
                    <img src="assets/images/007.png" alt="">
                </div>
            </td>
            <td>Dommy</td>
            <td>Dog</td>
            <td>Breed-1</td>
            <td>Male</td>
            <td>White</td>
            <td>15kg</td>
            <td>3 years</td>
            <td>Yes</td>
            <td>16-09-2020</td>
            <td>
                User
            </td>
            <td>
                Admin
            </td>
            <td>
                16-09-2020
            </td>
            <td>
                17-09-2020
            </td>
            <td class="act">
                <i style="color: #2196f3;" class="fa fa-pencil-square-o" aria-hidden="true" pTooltip="Edit"></i>
                <i style="color: #fd2c3a;" class="fa fa-trash" aria-hidden="true" pTooltip="Delete"></i>
                <i style="color: #4CAF50;" class="fa fa-info-circle" aria-hidden="true"  pTooltip="View"></i>
            </td>
        </tr>
    </ng-template>
</p-table>