<div style="margin-right: 32px;">
  <div class="profile-fix">
    <div class="row" style="margin: 0px;box-shadow:0px 0px 2px 2px #dfdede">
      <div class="col-md-3" style="background: #575a5e;">
        <div class="flex-1">
          <div class="ht-img">
            <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png"
              alt="stack photo" class="img">
          </div>

          <div class="ht-t">
            <h2 style="font-size: 13px;margin-bottom: 0px;line-height: 20px;color: #fff;margin-top: 6px;">John Doe</h2>
            <p style="font-size: 11px;color: #d0d0d0;margin-bottom: 6px;">Male, 30 Years old, Indian.</p>
          </div>
        </div>

      </div>
      <div class="col-md-9" style="padding-left: 0px;padding-right: 0px;">
        <table style="width: 100%;border: none;" class="pr-t">
          <tr style="text-align: center;font-size: 10px;">
            <th>Acc No</th>
            <th>Customer ID</th>
            <th>Agreement ID</th>
            <th>No of Accounts</th>
            <th>Product</th>
            <th>Legal Status</th>
            <th>Principle Amt.</th>
            <th>Interest & Other Amt.</th>
            <th>Total Outstanding Amt.</th>
            <th>Miinimum Payment Amt.</th>
            <th>Total Overdue Amt.</th>
          </tr>
          <tr style="text-align: center;font-size: 12px;">
            <td>9876543210</td>
            <td>0213645878</td>
            <td>ASDFGHJ</td>
            <td>3</td>
            <td>Auto Loan</td>
            <td>NA</td>
            <td>5,000</td>
            <td>5,00,000</td>
            <td>20,000</td>
            <td>15,000</td>
            <td>1,00,000</td>
          </tr>
        </table>
      </div>
    </div>
    <h4 class="title" style="margin-top: 15px;">Customer 360&#176; Overview
      <span class="inner-a"><a (click)="openworklist()">Go to your Worklist</a></span>
      <span class="inner-a"><a (click)="show13()">Customer Level Exposure</a></span>
      <span class="inner-a"><a (click)="openworklist()">Currency Convertor</a></span>
    </h4>

  </div>

  <!-- <div class="doc-table">
      <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="false" [rows]="5"
        [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">
    
        <ng-template pTemplate="header">
    
          <tr style="text-align: center;">
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show1()">Customer Info</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show2()">Guarantor/Reference</button>
            </td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">AssetDetails</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">Collateral Details</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show10()">Payments</button></td>
          </tr>
    
          <tr style="text-align: center;">
            <td><button class="btn btn-primary mr-0" style="width: 100%;">Statcard</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">Repayment Schedule</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">Bounces</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">Statement</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">Fareclosure</button></td>
          </tr>
          <tr style="text-align: center;">
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show3()">Allocation history
                reports</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show6()">Linked Accounts</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">special follow up trails</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show4()">Follow up trails</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">FYI & Old Follow Up Trails</button></td>
          </tr>
    
          <tr style="text-align: center;">
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show5()">Loan Details</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">Allocation Details</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;">Delinquency flow</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show7()">Overdue Details</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show8()">RPO/Auction/PLA
                information</button></td>
          </tr>
    
          <tr style="text-align: center;">
            <td><button class="btn btn-primary mr-0" style="width: 100%;" >Account Summary</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show11()">Phone Details</button></td>
            <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show9()">Retrieve Documents</button></td>
          </tr>
    
    
        </ng-template>
      </p-table>
    </div> -->
  <!-- <br> -->
  <div class="tab-info" style="margin-top: 125px;">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Account Info">account_balance</mat-icon>
        </ng-template>
        <br>

        <div class="row" style="margin-left: 0px;margin-right: 0px;">
          <div class="card-box" style="margin: 2px;">
            <div class="col-md-6">
              <h4 class="title-f">Customer Information</h4>
              <div class="row" style="padding: 0px 0px 36px 10px;">
                <div class="col-md-4">
                  <h5 class="form-lable">Loan Number:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="00213547458585">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Gender:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="Male">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Products:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="10">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Customer ID:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="112235485">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Date of Birth:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="07-07-1994">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">CEP Name:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Customer Name:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="Vignesh V">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Branch:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="Mizher Mall">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Branch Code:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="1244">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Sub Products Code:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">CIF Number:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Constitution:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Agreement ID:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="125987">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">PTP Status:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <!-- <div class="col-md-12 mt-20">
                        <button type="button" class="btn btn-primary">Add</button>
                   </div> -->

              </div>
              <hr>



            </div>
            <div class="col-md-6">

              <h4 class="title-f">Followup Status</h4>
              <div class="row" style="padding: 0px 0px 6px 10px;">
                <div class="col-md-4">
                  <h5 class="form-lable">Total Contacts:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="10">
                </div>
                <!-- <div class="col-md-4">
                  <h5 class="form-lable">Last Contact Number:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="9876543210">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Last Contact Time:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="28-210-2020 10:25am">
                </div> -->
                <div class="col-md-4">
                  <h5 class="form-lable">Account Status:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="Live">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Broken Promise Indicator:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Broken Promise Counter:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Last Payment Date:</h5>
                  <input type="text" pInputText disabled=true placeholder="10-7-2020">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Last Payment Amount:</h5>
                  <input type="text" pInputText disabled=true placeholder="20,000">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Last Action Date:</h5>
                  <input type="text" pInputText disabled=true placeholder="18-7-2020">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Last Action Code:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Foreclosure:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Risk Segment:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <!-- <div class="col-md-12 mt-20">
                      <button type="button" class="btn btn-primary">Add</button>
                 </div> -->

              </div>
              <h4 class="title-f">Analysis</h4>
              <div class="row" style="padding: 0px 0px 6px 10px;">
                <div class="col-md-4">
                  <h5 class="form-lable">Best Number to call:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="9876543210">
                </div>
                <div class="col-md-4">
                  <h5 class="form-lable">Best Time to call:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="10:25am - 12.30pm">
                </div>
                <!-- <div class="col-md-12 mt-20">
                      <button type="button" class="btn btn-primary">Add</button>
                 </div> -->

              </div>
              <hr>
            </div>
            <div class="col-md-12">
              <h4 class="title-f">Follow Up Trails</h4>
              <div class="doc-table">
                <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="false"
                  [rows]="5" [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [globalFilterFields]="['type']">
                  <ng-template pTemplate="header">
                    <tr style="text-align: center;">
                      <th>Loan Number *</th>
                      <th>Product </th>
                      <th>Bucket</th>
                      <th>Action Date</th>
                      <th>Action Time</th>
                      <th>Contact Mode</th>
                      <th>Place Contacted</th>
                      <th>Person Contacted</th>
                      <th>Action Code</th>
                      <th>Action Amount</th>
                      <th>Remarks</th>
                      <th>Review Date</th>
                      <th>Review Time</th>
                      <th>Created by</th>
                    </tr>
                    <tr style="text-align: center;font-size: 10px;">
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                      <td>NA</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="col-md-12">
              <h4 class="title-f">Multiple Account Information</h4>
              <div class="doc-table">
                <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="false"
                  [rows]="5" [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [globalFilterFields]="['type']">
                  <ng-template pTemplate="header">
                    <tr style="text-align: center;">
                      <th>Loan Number</th>
                      <th>Product</th>
                      <th>Loan Amount</th>
                      <th>Outstanding Amount</th>
                      <th>Total Overdue Amount</th>
                      <th>Next Installment Amount</th>
                      <th>Next Installment Due Date</th>
                      <th>Bucket</th>
                      <th>Miinimum amount for Bucket movement</th>
                      <th>Unit Code</th>
                    </tr>
                    <tr style="text-align: center;">
                      <td><input type="text" value="0123456789"></td>
                      <td><input type="text" value="Auto Loan"></td>
                      <td><input type="text" value="10,00000"></td>
                      <td><input type="text" value="50,00000"></td>
                      <td><input type="text" value="2000"></td>
                      <td><input type="text" value="20000"></td>
                      <td><input type="text" value="20-10-2020"></td>
                      <td><input type="text" value="2"></td>
                      <td><input type="text" value="2000000"></td>
                      <td><input type="text" value="956847"></td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            
            <div class="col-md-3">
              <h4 class="title-f">Guarantor Details</h4>
              <div class="row" style="padding: 0px 0px  26px 10px;">
                <div class="col-md-12">
                  <h5 class="form-lable">Guarantor A/C no.:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Name:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Profession:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Current Organization / Business:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>

              </div>
              <hr>
            </div>
            <div class="col-md-3">
              <h4 class="title-f">Reference Details</h4>
              <div class="row" style="padding: 0px 0px 71px 10px;">
                <div class="col-md-12">
                  <h5 class="form-lable">Name:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Relationship:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Mobile No:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>

                <!-- <div class="col-md-12 mt-20">
                        <button type="button" class="btn btn-primary">Add</button>
                   </div> -->

              </div>
              <hr>
            </div>
            <div class="col-md-3">
              <h4 class="title-f">Allocation Details</h4>
              <div class="row" style="padding: 0px 0px  6px 10px;">
                <div class="col-md-6">
                  <h5 class="form-lable">Allocation Type:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">To Group:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">To Collector:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Allocation Date:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Notes:</h5>
                  <textarea pInputText disabled=truearea></textarea>

                </div>
                <!-- <div class="col-md-12 mt-20">
                      <button type="button" class="btn btn-primary">Add</button>
                 </div> -->

              </div>
              <h4 class="title-f" style="margin-top: -11px;"><span
                  style="color: #3F51B5;font-size: 11px;text-decoration: underline;cursor: pointer;"
                  (click)="show14()">view
                  Allocation history</span></h4>
              <hr>
            </div>
            <div class="col-md-3">

              <h4 class="title-f">Contact Information</h4>
              <div class="row" style="padding: 0px 0px 6px 10px;">
                <div class="col-md-6">
                  <h5 class="form-lable">Active Phone 1:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="9876543210">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Active Phone 2:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="9876543211">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Active Phone 3:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="9876543213">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Active Phone 4:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="9876543214">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Active Phone 5:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="9876543215">
                </div>

                <div class="col-md-6">
                  <h5 class="form-lable">Active Phone 6:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="9876543216">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Reference Person Name:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="vicky">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Ref.Person Phone No:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="9876543218">
                </div>
                <!-- <div class="col-md-6">
                  <h5 class="form-lable">Address:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Email:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="">
                </div> -->
                <!-- <div class="col-md-12 mt-20">
                        <button type="button" class="btn btn-primary">Add</button>
                   </div> -->

              </div>
              <hr>
            </div>
            <div class="col-md-6">

              <h4 class="title-f">Financial Details</h4>
              <div class="row" style="padding: 0px 0px 6px 10px;">
                <div class="col-md-6">
                  <h5 class="form-lable">OS Amount:</h5>
                  <input type="text" pInputText placeholder="" value="340000">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">OD Amount:</h5>
                  <input type="text" pInputText placeholder="" value="42000">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">OD Days:</h5>
                  <input type="text" pInputText placeholder="" value="61">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Times Delq.#:</h5>
                  <input type="text" pInputText placeholder="" value="2">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Peak OD Days:</h5>
                  <input type="text" pInputText placeholder="" value="71">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Delq. Start Date:</h5>
                  <input type="text" pInputText placeholder="" value="05.7.2014">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Bucket:</h5>
                  <input type="text" pInputText placeholder="" value="3">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Cycle Days:</h5>
                  <input type="text" pInputText placeholder="" value="12">
                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Action/Result:</h5>
                  <input type="text" pInputText placeholder="" value="OC/PTP">
                </div>
              </div>
              <hr>
            </div>

            <div class="col-md-3">
              <h4 class="title-f">Promise Details</h4>
              <div class="row" style="padding: 0px 0px 6px 10px;">
                <div class="col-md-6">
                  <h5 class="form-lable">Taken On:</h5>
                  <input type="text" pInputText placeholder="" value="01.05.2014">

                </div>
                <div class="col-md-6">
                  <h5 class="form-lable">Taken By:</h5>
                  <input type="text" pInputText placeholder="" value="CHERILE">

                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Promise Date:</h5>
                  <input type="text" pInputText placeholder="" value="04.05.2014">

                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Amount Status:</h5>
                  <input type="text" pInputText placeholder="" value="15000 Live">

                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Payment Date:</h5>
                  <input type="text" pInputText placeholder="" value="03.05.2014">

                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Payment Amount:</h5>
                  <input type="text" pInputText placeholder="" value="">

                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-3">
              <h4 class="title-f">Active Address</h4>
              <div class="row" style="padding: 0px 0px 6px 10px;">
                <div class="col-md-12">
                  <h5 class="form-lable">Address 1:</h5>
                  <textarea pInputText disabled=truearea></textarea>
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Address 2:</h5>
                  <textarea pInputText disabled=truearea></textarea>
                </div>
              </div>
              <h4 class="title-f">Eamil</h4>
              <div class="row" style="padding: 0px 0px 9px 10px;">
                <div class="col-md-12">
                  <h5 class="form-lable">Email 1:</h5>
                  <input type="text" pInputText placeholder="" value="Test@gmail.com">
                </div>
                <div class="col-md-12">
                  <h5 class="form-lable">Email 2:</h5>
                  <input type="text" pInputText placeholder="" value="Test@gmail.com">
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-12">
              <h4 class="title-f">Loan Details</h4>
              <div class="row" style="padding: 0px 0px 36px 10px;">
                <div class="col-md-3">
                  <h5 class="form-lable">Financier:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">LOB:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Loan Type:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Loan Currency:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Scheme:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Loan Financed:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Interest Type:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Interest Rate(%):</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Tenure:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Asset Cost:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Sourcing Dealer:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Sourcing Dealer:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">No. of installments:</h5>
                  <input type="text" pInputText disabled=true placeholder="" value="NA">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Frequency:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Installment Mode:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">EMI:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Billed Installment:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Due Date:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Collection Cycle:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Cycle Date:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Loan To value: </h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">Note Date:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>
                <div class="col-md-3">
                  <h5 class="form-lable">EMI Start Date:</h5>
                  <input type="text" pInputText disabled=true placeholder="">
                </div>

                <!-- <div class="col-md-12 mt-20">
                        <button type="button" class="btn btn-primary">Add</button>
                   </div> -->

              </div>
              <hr>



            </div>
            <div class="col-md-12">
              <h4 class="title-f">Overdue Details</h4>
              <div class="row" style="padding: 0px 0px 36px 10px;">
                  <div class="col-md-3">
                      <h5 class="form-lable">DPD:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">Bucket/Cycles:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">No. of installments Overdue:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">Total Amount Overdue:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">Interest Overdue:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">Total Charges Overdue:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">Other Charges:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">Cheque Bounce Counter:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">Accrued Interest:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">Suspense Interest:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
                  <div class="col-md-3">
                      <h5 class="form-lable">Nomination Interest:</h5>
                      <input type="text" pInputText disabled=true placeholder="" value="NA">
                  </div>
  
                  <!-- <div class="col-md-12 mt-20">
                    <button type="button" class="btn btn-primary">Add</button>
               </div> -->
  
              </div>
              <hr>
  
  
  
          </div>
            <div class="col-md-12">
              <h4 class="title-f" style="cursor: pointer;" (click)="asset()">Assets Details <i *ngIf="!assets"
                  class="fa fa-arrow-circle-down coll-i" aria-hidden="true"></i><i *ngIf="assets"
                  class="fa fa-arrow-circle-up coll-i" aria-hidden="true"></i></h4>
              <div class="row" *ngIf="assets" style="padding: 0px 0px 6px 10px;">
                <div class="col-md-2">
                  <h5 class="form-lable">Model:</h5>
                  <input type="text" pInputText placeholder="" value="MU-X">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Brand:</h5>
                  <input type="text" pInputText placeholder="" value="ISUZU">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Color:</h5>
                  <input type="text" pInputText placeholder="" value="Black">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Engine No:</h5>
                  <input type="text" pInputText placeholder="" value="12365478529">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Chassis No:</h5>
                  <input type="text" pInputText placeholder="" value="87956421225">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">VIN Number:</h5>
                  <input type="text" pInputText placeholder="" value="61255858256">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Lisence No:</h5>
                  <input type="text" pInputText placeholder="" value="LIC187212">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Changwat:</h5>
                  <input type="text" pInputText placeholder="" value="BANGKOK">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Reg.Year:</h5>
                  <input type="text" pInputText placeholder="" value="2010">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Dealer:</h5>
                  <input type="text" pInputText placeholder="" value="Dealer Code">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Showroom:</h5>
                  <input type="text" pInputText placeholder="" value="Showroom Name">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">MO Name:</h5>
                  <input type="text" pInputText placeholder="" value="Marketing Officer Name">

                </div>
              </div>
              <!-- <div class="col-md-12 mt-20">
                  <button type="button" class="btn btn-primary">Add</button>
             </div> -->
              <hr>

              <h4 class="title-f" (click)="pay()" style="cursor: pointer;">Payment Details <i *ngIf="!payment"
                  class="fa fa-arrow-circle-down coll-i" aria-hidden="true"></i><i *ngIf="payment"
                  class="fa fa-arrow-circle-up coll-i" aria-hidden="true"></i></h4>
              <div class="row" *ngIf="payment" style="padding: 0px 0px 6px 10px;">
                <div class="col-md-2">
                  <h5 class="form-lable">Last Paid Date:</h5>
                  <input type="text" pInputText placeholder="" value="05-11-2013">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Payment Mode:</h5>
                  <input type="text" pInputText placeholder="" value="Cash">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Collected By:</h5>
                  <input type="text" pInputText placeholder="CHARILE">
                </div>
                <div class="col-md-2">
                  <h5 class="form-lable">Amount</h5>
                  <input type="text" pInputText placeholder="" value="12000">
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>




        <h4 class="title-f">Delinquency String <span
            style="color: #3F51B5;font-size: 11px;text-decoration: underline;cursor: pointer;" (click)="del = !del">view
            Detail</span></h4>
        <div class="doc-table" *ngIf="del">
          <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="false" [rows]="5"
            [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['type']">

            <ng-template pTemplate="header">

              <tr style="text-align: center;">
                <th>JAN</th>
                <th>FEB</th>
                <th>MAR</th>
                <th>APR</th>
                <th>MAY</th>
                <th>JUN</th>
                <th>JUL</th>
                <th>AUG</th>
                <th>SEP</th>
                <th>OCT</th>
                <th>NOV</th>
                <th>DEC</th>
                <th>JAN</th>
                <th>FEB</th>
                <th>MAR</th>
                <th>APR</th>
                <th>MAY</th>
                <th>JUN</th>
                <th>JUL</th>
                <th>AUG</th>
                <th>SEP</th>
                <th>OCT</th>
                <th>NOV</th>
                <th>DEC</th>
              </tr>
              <tr style="text-align: center;">
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="1"></td>
                <td><input type="text" value="NA"></td>
                <td><input type="text" value="NA"></td>
                <td><input type="text" value="NA"></td>
                <td><input type="text" value="NA"></td>
                <td><input type="text" value="NA"></td>
                <td><input type="text" value="NA"></td>
                <td><input type="text" value="NA"></td>
                <td><input type="text" value="NA"></td>
                <td><input type="text" value="NA"></td>
                <td><input type="text" value="NA"></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <br>

      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Customer Info">account_circle</mat-icon>
        </ng-template>
        <br>
        <app-usr-customerdetails></app-usr-customerdetails>
      </mat-tab>
      <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Guarantor / Reference Datails">collections_bookmark</mat-icon>
        </ng-template>
        <br>
        <app-usr-gurantordetails></app-usr-gurantordetails>
      </mat-tab> -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Asset Details">extension</mat-icon>
        </ng-template>
        <br>
        <app-usr-asset-detail></app-usr-asset-detail>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Collateral Details">attach_money</mat-icon>
        </ng-template>
        <br>
        <app-usr-collateraldetailss></app-usr-collateraldetailss>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Financial Details">payment</mat-icon>
        </ng-template>
        <br>
        <app-usr-paymentdetails></app-usr-paymentdetails>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Statcard">card_membership</mat-icon>
        </ng-template>
        <br>
        <app-usr-statcard></app-usr-statcard>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Repayment Schedule">timeline</mat-icon>
        </ng-template>
        <br>
        <app-usr-repayment></app-usr-repayment>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Bounces">assignment_return</mat-icon>
        </ng-template>
        <br>
        <app-usr-bounces></app-usr-bounces>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Statement">file_copy</mat-icon>
        </ng-template>
        <br>
        <app-usr-payment-history></app-usr-payment-history>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Foreclosure">timeline</mat-icon>
        </ng-template>
        <br>
        <app-usr-foreclosure></app-usr-foreclosure>
      </mat-tab>
      <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Allocation history reports">history</mat-icon>
        </ng-template>
        <br>
        <app-usr-allocationhistory></app-usr-allocationhistory>
      </mat-tab> -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Customer Available Accounts">link</mat-icon>
        </ng-template>
        <br>
        <app-usr-customerleaccount></app-usr-customerleaccount>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="special follow up trails">swap_horiz</mat-icon>
        </ng-template>
        <br>
        <app-usr-special-followup></app-usr-special-followup>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Follow up trails">swap_horiz</mat-icon>
        </ng-template>
        <br>
        <app-usr-followuptrails></app-usr-followuptrails>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="FYI & Old Follow Up Trails">folder</mat-icon>
        </ng-template>
        <br>
        <app-usr-old-followup></app-usr-old-followup>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Loan & Overdue Details">monetization_on</mat-icon>
        </ng-template>
        <br>
        <app-usr-loandetails></app-usr-loandetails>
      </mat-tab>
      <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Allocation Details">ballot</mat-icon>
        </ng-template>
        <br>
        <app-usr-allocationdetail></app-usr-allocationdetail>
      </mat-tab> -->
      <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Delinquency flow">merge_type</mat-icon>
        </ng-template>
        <br>
        <app-usr-delinquencyflow></app-usr-delinquencyflow>
      </mat-tab> -->
      <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Overdue Details">payment</mat-icon>
        </ng-template>
        <br>
        <app-usr-overduedetailsone></app-usr-overduedetailsone>
      </mat-tab> -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="RPO/Auction/PLA information">info</mat-icon>
        </ng-template>
        <br>
        <app-usr-rpo></app-usr-rpo>
      </mat-tab>
      <!-- <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Account Summary">event_note</mat-icon>
        </ng-template>
        <br>
        <app-usr-accountsummery></app-usr-accountsummery>
      </mat-tab> -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Phone Details">contact_phone</mat-icon>
        </ng-template>
        <br>
        <app-usr-phonedetails></app-usr-phonedetails>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon matTooltip="Retrieve Documents">file_copy</mat-icon>
        </ng-template>
        <br>
        <app-usr-documnetretrieval></app-usr-documnetretrieval>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="follow">
  <div [ngClass]="{'active-i': show === 'show1'}">
    <mat-icon matTooltip="Follow up" (click)="show1()">swap_horiz</mat-icon>
  </div>
  <div [ngClass]="{'active-i': show === 'show2'}">
    <mat-icon matTooltip="Initiate Workflow" (click)="show2()">timeline</mat-icon>
  </div>
  <div [ngClass]="{'active-i': show === 'show3'}" style="text-align: center;color: #fff;">
    <i class="fa fa-list-alt" aria-hidden="true" matTooltip=" Collection Details" (click)="show3()"></i>
    <!-- <mat-icon matTooltip=" Collection Details" (click)="show3()">extension</mat-icon> -->
  </div>
  <div [ngClass]="{'active-i': show === 'show4'}" style="text-align: center;color: #fff;">
    <i class="fa fa-file-text-o" aria-hidden="true" matTooltip=" Settlement Recording" (click)="show4()"></i>
    <!-- <mat-icon matTooltip=" Settlement Recording" (click)="show4()">extension</mat-icon> -->
  </div>
  <div [ngClass]="{'active-i': show === 'show5'}" style="text-align: center;color: #fff;">
    <i class="fa fa-taxi" aria-hidden="true" matTooltip="Police Case Filing" (click)="show5()"></i>
    <!-- <mat-icon matTooltip="Police Case Filing"  (click)="show5()">swap_horiz</mat-icon> -->
  </div>
  <div [ngClass]="{'active-i': show === 'show6'}">
    <mat-icon matTooltip="Repo">file_copy</mat-icon>
  </div>
  <div [ngClass]="{'active-i': show === 'show7'}">
    <mat-icon matTooltip="Civil">contact_phone</mat-icon>
  </div>

  <div [ngClass]="{'active-i': show === 'show8'}">
    <mat-icon matTooltip="Skip Tracing" (click)="show8()">skip_next</mat-icon>
  </div>
  <div [ngClass]="{'active-i': show === 'show9'}">
    <mat-icon matTooltip="Field Visit" (click)="show9()">person_pin_circle</mat-icon>
  </div>

</div>