<h4 class="title">Contact Recording</h4>
<br>
<br>

<div class="card-box">
  <h4 class="title-f">Customer Information</h4>
  <div class="row" style="padding: 0px 0px 23px 10px;">
    <div class="col-md-4">
      <h5 class="form-lable">Loan Number:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Gender:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Products:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Customer ID:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Date of Birth:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">CEP Name:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Customer Name:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Branch:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Sub Products Code:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">CIF Number:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Constitution:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Agreement ID:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">PTP Status:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <!-- <div class="col-md-12 mt-20">
          <button type="button" class="btn btn-primary">Add</button>
     </div> -->

  </div>
</div>
<!-- <div class="doc-table">
  <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="false" [rows]="5"
    [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">

    <ng-template pTemplate="header">
      <tr style="text-align: center;">
        <th>Loan Number</th>
        <td> <input type="text"> </td>
        <th>Gender</th>
        <td> <input type="text"> </td>
        <th>Products</th>
        <td> <input type="text"> </td>
      </tr>
      <tr style="text-align: center;">
        <th>Customer ID</th>
        <td> <input type="text"> </td>
        <th>Date of Birth</th>
        <td> <input type="text"> </td>
        <th>CEP Name</th>
        <td> <input type="text"> </td>
      </tr>
      <tr style="text-align: center;">
        <th>Customer Name</th>
        <td> <input type="text"> </td>
        <th>Branch</th>
        <td> <input type="text"> </td>
        <th></th>
        <td> <input type="text"> </td>
      </tr>
      <tr style="text-align: center;">
        <th>Sub Products Code</th>
        <td> <input type="text"> </td>
        <th>CIF Number</th>
        <td> <input type="text"> </td>
        <th>Constitution</th>
        <td> <input type="text"> </td>
      </tr>
      <tr style="text-align: center;">
        <th>Agreement ID</th>
        <td> <input type="text"> </td>
        <th>PTP Status</th>
        <td> <input type="text"> </td>
        <th></th>
        <td> <input type="text"> </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br> -->

<div class="card-box">
  <h4 class="title-f">Contact Information</h4>
  <div class="row" style="padding: 0px 0px 23px 10px;">
    <div class="col-md-4">
      <h5 class="form-lable">Active Phone 1:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Active Phone 2:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Active Phone 3:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Active Phone 4:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Active Phone 5:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Active Phone 6:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Reference Person Name:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Reference Person Phone Number:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <!-- <div class="col-md-12 mt-20">
          <button type="button" class="btn btn-primary">Add</button>
     </div> -->

  </div>
</div>
<div class="doc-table">
  <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="false" [rows]="5"
    [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">

    <ng-template pTemplate="header">

      <tr style="text-align: center;">
        <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show1()">Customer Info</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show2()">Guarantor/Reference</button>
        </td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">AssetDetails</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Collateral Details</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Payments</button></td>
      </tr>

      <tr style="text-align: center;">
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Statcard</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Repayment Schedule</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Bounces</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Statement</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Fareclosure</button></td>
      </tr>
      <tr style="text-align: center;">
        <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show3()">Allocation history
            reports</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show6()">Linked Accounts</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">special follow up trails</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show4()">Follow up trails</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">FYI & Old Follow Up Trails</button></td>
      </tr>

      <tr style="text-align: center;">
        <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show5()">Loan Details</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Allocation Details</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Delinquency flow</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show7()">Overdue Details</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show8()">RPO/Auction/PLA
            information</button></td>
      </tr>

      <tr style="text-align: center;">
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Account Summary</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;">Phone Details</button></td>
        <td><button class="btn btn-primary mr-0" style="width: 100%;" (click)="show9()">Retrieve Documents</button></td>
      </tr>


    </ng-template>
  </p-table>
</div>
<br>
<div class="card-box">
  <h4 class="title-f">Account Summary</h4>
  <div class="row" style="padding: 0px 0px 23px 10px;">
    <div class="col-md-4">
      <h5 class="form-lable">Total Contacts:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Account Status:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Broken Promise Indicator:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Broken Promise Counter:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Last Payment Date:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Last Payment Amount:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Last Action Date:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Last Action Code:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Foreclosure:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <div class="col-md-4">
      <h5 class="form-lable">Risk Segment:</h5>
      <input type="text" pInputText placeholder="">
    </div>
    <!-- <div class="col-md-12 mt-20">
          <button type="button" class="btn btn-primary">Add</button>
     </div> -->

  </div>
</div>


<br>
<h4 class="title">Delinquency String</h4>


<div class="doc-table">
  <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="false" [rows]="5"
    [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">

    <ng-template pTemplate="header">

      <tr style="text-align: center;">
        <th>JAN</th>
        <th>FEB</th>
        <th>MAR</th>
        <th>APR</th>
        <th>MAY</th>
        <th>JUN</th>
        <th>JUL</th>
        <th>AUG</th>
        <th>SEP</th>
        <th>OCT</th>
        <th>NOV</th>
        <th>DEC</th>
        <th>JAN</th>
        <th>FEB</th>
        <th>MAR</th>
        <th>APR</th>
        <th>MAY</th>
        <th>JUN</th>
        <th>JUL</th>
        <th>AUG</th>
        <th>SEP</th>
        <th>OCT</th>
        <th>NOV</th>
        <th>DEC</th>
      </tr>
      <tr style="text-align: center;">
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br>
<h4 class="title">Multiple Account Information</h4>
<div class="doc-table">
  <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="false" [rows]="5"
    [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">
    <ng-template pTemplate="header">
      <tr style="text-align: center;">
        <th>Loan Number</th>
        <th>Product</th>
        <th>Loan Amount</th>
        <th>Outstanding Amount</th>
        <th>Total Overdue Amount</th>
        <th>Next Installment Amount</th>
        <th>Next Installment Due Date</th>
        <th>Bucket</th>
        <th>Miinimum amount for Bucket movement</th>
        <th>Unit Code</th>
      </tr>
      <tr style="text-align: center;">
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      </tr>
    </ng-template>
  </p-table>
</div>