.btn-primary {
    color: #fff;
    background-color: #ef6c00;
    border-color: #98bef73d;
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500 !important;
    box-shadow: 0px 0px 0px 0px #74a6f7;
}
:host::ng-deep .ui-dropdown {
    width: 100%;
}
:host::ng-deep .ui-inputtext{
    width: 100%;
    margin-bottom: 20px;
}
/* table */
:host::ng-deep .ui-paginator .ui-paginator-current {
    float: right;
    font-weight: 600;
    font-size: 12px;
    color: #2196F3;
}

:host::ng-deep  .ui-paginator .ui-dropdown {
    display: none;
}
:host::ng-deep  .ui-paginator {
   border-radius: 0px 0px 10px 10px;
}
:host::ng-deep .ui-paginator .ui-paginator-icon {
    font-size: 12px;
    font-weight: 600;
}
:host::ng-deep  .ui-paginator .ui-paginator-pages .ui-paginator-page {
    font-size: 12px;
    margin-top: 5px;
}
:host::ng-deep  .ui-paginator .ui-paginator-pages {
    float: left;
}
:host::ng-deep .ui-paginator a.ui-state-disabled {
    float: left;
}

:host::ng-deep .ui-paginator .ui-paginator-first{
   
    float: left !important;
}
:host::ng-deep  .ui-paginator .ui-paginator-prev {
   
    float: left !important;
}
:host::ng-deep  .ui-paginator .ui-paginator-next{
   
    float: left !important;
}
:host::ng-deep   .ui-paginator .ui-paginator-last {
   
    float: left !important;
}
:host::ng-deep.ui-paginator .ui-paginator-pages .ui-paginator-page:focus {
    box-shadow: none !important;
}
.thhead th{
    color: #ffffff !important;
    /* background: linear-gradient(90deg, rgb(32 53 63) 0%, rgb(32 53 63) 100%); */
    padding: 2px 3px;
    text-transform: capitalize;

}
.ui-table .ui-table-tbody > tr > td {
    border: none !important;
    border-bottom: 1px solid #c8c8c8 !important;
    font-size: 12px;
} 
.tdrow {
    display: table-row;
    background: #fff;
}
.tdrow:hover {
    background-color: #ececff;
    cursor: pointer;
}
.tdrow td {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: #000;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dbdbdb;
    text-transform: capitalize;

}
:host::ng-deep .ui-table {
    /* border-radius: 10px; */
    overflow: hidden;
    border: none !important;
    border-radius: 5px !important;
}
:host::ng-deep .ui-table .ui-table-thead > tr > th {
    border: none !important;
}
:host::ng-deep .ui-table .ui-table-tbody > tr > td {
    border-bottom: 1px solid #c8c8c8 !important;
}
:host::ng-deep .ui-table .ui-sortable-column .ui-sortable-column-icon {
    color:#fff !important;
    font-size:12px;
}
:host::ng-deep .ui-table .ui-paginator-bottom {
    border-top: 1px solid #eee;
    background-color: #fff;
    padding: 10px 0px;
}
.th-1{
    width: 50px;
}
.act i{
    padding: 3px 3px;
    margin: 3px;
    font-size: 17px;
}

:host::ng-deep  .ui-table .ui-table-thead > tr > th {
    padding: 8px 8px !important;
    color: #ffffff !important;
    /* background-color: #20353f !important; */
    background-color: #747f7f !important;
text-transform: capitalize;
}
/* table */

.title{
    font-size: 13px;
    font-weight: 500;
    color: #21a0f6;
    margin: 2px 0px 2px 0px !important;
}

.card-box {
    padding: 5px 10px 5px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px #3f4e6340;
    margin-bottom: 10px;
}
.form-lable{
    font-size: 12px;
    font-weight: 600;
    color:#5d5d5d  !important;
    margin-bottom: 0px;
}
.search-hero{
    margin-bottom: 10px;
}
.search-hero input {
    padding: 15px;
    border-radius: 17px;
}
.btn-primary.focus, .btn-primary:focus {
    outline: none !important;
}
.custom-select {
    display: inline-block;
    width: 100%;
    padding: 0.429em;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff ;
    border:1px solid #a6a6a6;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
:host::ng-deep .ui-inputtext {
    font-size: 12px;
    color: #333333;
    background: #ffffff;
    padding: 0px 5px;
    border: 1px solid #dcdcdc;
    transition: border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 25px;
;
}
:host::ng-deep .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    padding-right: 4em;
    border: none;
}
:host::ng-deep .ui-dropdown {
    border: 1px solid #dcdcdc;
    margin-bottom: 0px;
}
:host::ng-deep button:focus {
    outline: none !important;
}
.mat-typography::-webkit-scrollbar {
    display: none !important;
}
:host::ng-deep .ui-table-wrapper::-webkit-scrollbar {
    display: block !important;
}
:host::ng-deep .ui-table-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 5px;
}
:host::ng-deep .ui-table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.mt-20{
    margin-top: 20px;
}
.btn-bg-blue{
    background-color: #2196F3 !important;
    border-color: #2196F3 !important;
}
textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
}
:host::ng-deep .ui-dropdown-label {
    padding-right: 4em;
    border: none;
    margin-bottom: 0;
}
:host::ng-deep .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
    width: 80%;
}
.mr-0{
    margin-right: 0px !important;
}
:host::ng-deep .ui-multiselect {
    width: 100%;
    margin-bottom: 20px;
}
:host::ng-deep .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container .ui-inputtext {
    padding: 0.429em;
    padding-right: 2em;
    margin-bottom: 0px;
}
:host::ng-deep  .mat-dialog-container {
    /* height: 600px !important; */
  }

  :host::ng-deep .ui-table-thead > tr > th {
    padding: 8px 8px !important;
    font-size: 12px;
    /* background-color: #3f4e631f !important; */
}
.btn{
    font-size: 12px !important;
    font-weight: 400;
}
.title-f {
    font-size: 12px;
    font-weight: 500;
    color: #2196F3;
    margin-bottom: 0px;
}


:host::ng-deep .ui-inputtext {
    margin-bottom: 0px !important;
}

h5 span{
    color: #0e69dd;
}
:host::ng-deep .mat-dialog-container {
    padding: 15px !important;
}
input {
    width: 100%;
}

.p-input-icon-left > i:first-of-type {
    left: 20px;
    color: #6c757d;
    top: 10px;
    font-size: 12px;
}
.p-input-icon-left>i, .p-input-icon-right>i {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
}
.p-inputtext:enabled:hover {
    border-color: #2196F3;
}
.p-input-icon-left > .ui-inputtext {
    padding-left: 2rem;
    height: auto !important;
}
.link-a{
    font-size: 12px;
    color: #0e69dd;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.tdrow:hover {
    background-color: #ffd3af !important;

    font-weight: 600;
}
.mat-list-item {
    color: #fff !important;
}
:host::ng-deep .ui-tooltip .ui-tooltip-text {
    font-size: 12px !important;
}
 .cdk-overlay-pane {
    /* top: 50px !important;
    left: 41px !important;
    height: 50% !important; */
    position: absolute !important;
    background: none !important; 
    border-radius: 0px !important;
    left: 31px !important;
    margin-top: -63px;

}
.cdk-global-overlay-wrapper .cdk-overlay-pane {
    /* top: 50px !important;
    left: 41px !important;
    height: 50% !important; */
    position: static !important;

}
.mat-menu-panel {
    background:  none !important;
    box-shadow: none !important;
}
.mat-drawer-inner-container{
    overflow: hidden !important;
}
 .mat-nav-list .mat-list-item:hover{
    background: rgb(130 101 76 / 94%);
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ef6c00 !important;
}
td {
    text-transform: capitalize;
}
i:hover{
    cursor: pointer;
}
:host::ng-deep  .ui-multiselect {
    border: 1px solid #dcdcdc !important;
    font-size: 14px;
    height: 26px;
    font-size: 12px !important;
    /* margin-bottom: 0px; */
  }
  .mat-icon:hover {
      cursor: pointer !important;
  }
  :host::ng-deep .ui-overlaypanel {
    background-color: #ffffff;
    color: #333333;
    padding: 0;
    border: 1px solid #c8c8c8;
    border-radius: 0;
    width: 80%;
    right: 14px !important;
    left: 146.141px !important;
  }
  :host::ng-deep  .ui-overlaypanel .ui-overlaypanel-close .ui-overlaypanel-close-icon {
    line-height: inherit;
    font-size: 10px !important;
  }
  :host::ng-deep  .ui-overlaypanel:before {
    display: none;
}

:host::ng-deep .ui-overlaypanel:after {
    display: none;
}

:host::ng-deep .ui-overlaypanel.ui-overlaypanel-flipped:after {
    display: none;
}
