<!-- <div class="row">
    <div class="col-12" style="text-align: end;">
        <div>
            <p>AGENT NAME: <span> value </span> &nbsp; &nbsp; ALLOCATION DATE: <span> value </span> </p> 
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="FollowUpForm">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="">FollowUp ID</label>
                        <input type="text" placeholder="FollowUp ID" class="form-control" formControlName="_id" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Log Date</label>
                        <input type="text" placeholder="Log Date" class="form-control" formControlName="log_date" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Log Type</label>
                        <input type="text" placeholder="Log Type ID" class="form-control" formControlName="log_type">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">No of Mapped Account</label>
                        <input type="text" placeholder="No of Mapped Account" class="form-control" formControlName="no_mapped_account">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Request Type</label>
                        <input type="text" placeholder="Request" class="form-control" formControlName="request_type">
                    </div>
                    <br>
                    <div class="form-group col-md-4">
                        <label for="">Territory</label>
                        <select class="form-control" formControlName="territory">
                            <option value="">Choose</option>
                            <option *ngFor="let item of areaCodeList" [value]="item._id">{{item.areacode}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Field Visit Area</label>
                        <select class="form-control" formControlName="fvarea">
                            <option value="">Choose</option>
                            <option *ngFor="let item of fieldvisitCodeList" [value]="item._id">{{item.fvcode}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Remarks</label>
                        <textarea name="" id="" cols="30" rows="5" placeholder="Remarks" class="form-control" formControlName="remarks"></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Main Status</label>
                        <select class="form-control" formControlName="mstatus">
                            <option value="">Choose</option>
                            <option *ngFor="let item of mStatusList" [value]="item._id">{{item.mstatus_name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Sub Status</label>
                        <select class="form-control" formControlName="substatus">
                            <option value="">Choose</option>
                            <option *ngFor="let item of sStatusList" [value]="item._id">{{item.sstatus_name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">FollowUp Date</label>
                        <input type="date" placeholder="Follow Up Date" class="form-control" formControlName="fdate">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Bank CODE</label>
                        <select class="form-control" formControlName="bcode">
                            <option value="">Choose</option>
                            <option *ngFor="let item of bankCodeList" [value]="item._id">{{item.bcode}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Action Taken</label>
                        <select class="form-control" formControlName="actiontotake">
                            <option value="">Choose</option>
                            <option *ngFor="let item of actionstakenList" [value]="item._id">{{item.actiontaken_name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Tracing Tools</label>
                        <select class="form-control" formControlName="tracingtool">
                            <option value="">Choose</option>
                            <option *ngFor="let item of TracingToolsList" [value]="item._id">{{item.tracking_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-sm btn-success" (click)="addNewFollowUp()">ADD</button>
                </div>
            </form>        
        </div>
    </div>
</div>    

<div class="container-fluid">
    <hr>
    <div class="row" style="text-align: end; margin:10px;">
        <p style="font-size: 14px;"><b>FollowUp List</b></p>
    </div>
    <div class="row">
        <div class="col-12">
            <ag-grid-angular #agGrid 
                    style="width: auto; height: 500px;"
                    class="ag-theme-alpine"
                    [rowData]="FollowUpList"
                    [rowSelection]="'multiple'"
                    [columnDefs]="FollowUpcolumnDefs"
                    [pagination]="true">
            </ag-grid-angular>
        </div>
    </div>
</div>
