<mat-drawer-container class="example-container" [ngClass]="{'menuslider' : menu_slider}">
    <mat-drawer class="side" mode="side" opened>
        <mat-nav-list>
            <mat-list-item (click)="menuslide()">
                <mat-icon style="color: #fff;"> notes</mat-icon>
            </mat-list-item>
            <mat-list-item routerLink="dashboard" routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-tachometer" aria-hidden="true"
                        style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Dashboard</h5>
                </div>
            </mat-list-item>
            <mat-list-item routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-sitemap" aria-hidden="true"
                        style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Organization Management
                    </h5>
                </div>
            </mat-list-item>
            <mat-list-item routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-user" aria-hidden="true"
                        style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Subscription management
                    </h5>
                </div>
            </mat-list-item>

            
            <mat-list-item routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-users" aria-hidden="true"
                        style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Customer Management</h5>
                </div>
            </mat-list-item>


            <mat-list-item routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-id-card-o" aria-hidden="true"
                        style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Product license Management </h5>
                </div>
            </mat-list-item>
 
            <mat-list-item  routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-credit-card-alt" aria-hidden="true"
                        style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Payments Management </h5>
                </div>
            </mat-list-item>

            <mat-list-item routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-bell-o"
                        aria-hidden="true" style="position: absolute;color: #fff !important;font-size: 20px;"></i>
                </mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Notification Management
                    </h5>
                </div>
            </mat-list-item>

            <!-- <mat-list-item routerLinkActive="active" (click)="expand = !expand">
                <mat-icon style="color: #fff !important;" mat-list-icon>
                    <i class="fa fa-cog" aria-hidden="true"
                        style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Service Appointments</h5>
                </div>
                <div class="sb-sidenav-collapse-arrow">
                    <i *ngIf="!expand" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <i *ngIf="expand" class="fa fa-chevron-up" aria-hidden="true"></i>
                </div>
            </mat-list-item>
            <mat-nav-list style="background: rgb(84 84 84);padding-left: 5px;" *ngIf="expand">
                <div class="sub-menu">
                    <mat-list-item routerLink="" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-medkit"
                                aria-hidden="true"
                                style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Pet Care</h5>
                        </div>
                    </mat-list-item>
                    <mat-list-item routerLink="" routerLinkActive="active">
                        <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-wrench"
                                aria-hidden="true"
                                style="position: absolute;color: #fff !important;font-size: 20px;"></i>
                        </mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Pet Services</h5>
                        </div>
                    </mat-list-item>
                </div>
            </mat-nav-list> -->



            
            <mat-list-item routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-check-circle" aria-hidden="true"
                        style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">User based Access & Roles
                    </h5>
                </div>
            </mat-list-item>



            <mat-list-item routerLinkActive="active">
                <mat-icon style="color: #fff !important;" mat-list-icon><i class="fa fa-files-o" aria-hidden="true"
                        style="position: absolute;color: #fff !important;font-size: 20px;"></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Reports</h5>
                </div>
            </mat-list-item>



           
           







        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <section style="padding:25px;">
            <router-outlet></router-outlet>
        </section>

    </mat-drawer-content>
</mat-drawer-container>