.example-container {
    width: 400px;
    height: 100%;
    margin: 10px;
    border: 1px solid #555;
}
:host::ng-deep .mat-drawer-content{
    /* background: #8196c282; */
}

:host::ng-deep .mat-drawer-container{
    background-color:transparent !important;
}