<section>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="title-h3">Performance Chart</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4 class="head-chart">Doughnut Chart</h4>
        <div class="chart-box">

            <p-chart type="doughnut" [data]="data"></p-chart>
        </div>
        </div>
        <div class="col-lg-4">
            <h4 class="head-chart">Bar Chart</h4>
           <div class="chart-box">

            <p-chart type="bar" [data]="data1"></p-chart>
           </div>
        </div>
        <div class="col-lg-4">
            <h4 class="head-chart">Bar Chart</h4>
           <div class="chart-box">

            <p-chart type="pie" [data]="data2"></p-chart>
           </div>
        </div>
 </div>
</section>
