@import "../../../assets/css/style.css";
.card-text h3 {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    /* margin-top: -16px; */
    margin: 0px;
}


.card-box p {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
    color: #989898;
    text-align: left;
}

.card-i img {
    width: 100%;
    max-width: 100px;
    margin-top: 8px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 15px 15px 0px 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 3px #019377;
    height: 116px; */
    padding: 0px;
    background: #fff;
    border-radius: 0;
    box-shadow: 0px 3px 3px 0px #01937726;
    margin-bottom: 15px;
    height: 50px;
    overflow: hidden;
    text-align: center;
}

.card-i {
    flex-basis: 30%;
    padding: 10px;
    background: #2196F3;
    /* height: 78px;
    padding: 0px 0px 3px;
    text-align: center; */
}
.card-text {
    flex-basis: 70%;
    padding: 5px;
    height:50px;
    /* text-align: left;
    font-weight: 500;
    font-size: 24px;
    margin-top: 12px; */
}

.card-box-1 {
    padding: 20px 30px 0px 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 0px #d5d2d2;
    margin-bottom: 5px;
}

.card-box-i img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card-box-text p {
    font-size: 12px;
    color: #5f5f60;
    font-weight: bold;
    margin-bottom: 2px;
}

.card-box-text h5 {
    color: #9d9c9c;
    font-weight: 400;
}

.hover-box {
    padding-top: 17px;
}

.hover-box:hover {
    background: #e4f1fb;
    border-radius: 8px;
}

.head-text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    /* padding-left: 10px; */
    color:#0e69dd;
}

.head-text span {
    float: right;
    font-size: 12px;
    padding-right: 14px;
    color: #007ad9;
}
.act i{
    padding: 3px 3px;
}
.title-h3{
    font-size: 12px;
    font-weight: 600;
    margin: 0px;
}

:host::ng-deep .ui-paginator .ui-paginator-current {
    display: none;
}
.bg-org{
    background: #FF5722 !important;
}
.bg-green{
    background: #019377 !important;
}
.bg-blue{
    background: #0e69dd !important;;
}
.chart-box{
    border: 1px solid #cacaca;
padding: 10px 10px 10px 10px;
}
.head-chart {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #ffffff;
    padding: 0px 10px;
    background: #0e69dd;
}

/* :host::ng-deep .mat-list-base::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} */



/* new css */


/* end new css */
.card-text h3{text-align:left;font-weight:500;font-size:24px;margin-top:12px}
.card-box p{margin-bottom:2px;font-size:14px;font-weight:500;color:#989898}
.card-i img{width:100%;max-width:100px;margin-top:8px}
.card-box{display:flex;justify-content:space-between;flex-wrap:wrap;padding:0;background:#fff;border-radius:0;box-shadow:0 3px 3px 0 #01937726;margin-bottom:35px;height:100px;overflow:hidden}
.card-i{flex-basis:30%;padding:10px;background:#2196F3}
.card-text{flex-basis:70%;padding:10px}
.card-box-1{padding:20px 30px 0;background:#fff;border-radius:10px;box-shadow:0 3px 3px 0 #d5d2d2;margin-bottom:5px}
.card-box-i img{width:30px;height:30px;border-radius:50%}
.card-box-text p{font-size:14px;color:#5f5f60;font-weight:700;margin-bottom:2px}
.card-box-text h5{color:#9d9c9c;font-weight:400}
.hover-box{padding-top:17px}
.hover-box:hover{background:#e4f1fb;border-radius:8px}
.head-text{font-size:16px;color:#1d212f;font-weight:500;text-transform:uppercase;line-height:1;margin-bottom:15px;letter-spacing:.2px}
.head-text span{float:right;font-size:13px;padding-right:14px;color:#007ad9}
.act i{padding:3px}
.title-h3{font-size:18px;font-weight:600;color:#20353f}
:host::ng-deep .ui-paginator .ui-paginator-current{display:none}

.card-item .card-item-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 14px;
    bottom: 21px;
  top: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-item .card-item-icon img {
    width: 70%;
}
.card-item .card-item-icon .card-icon:after {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(
90deg
,hsla(0,0%,100%,.35) 0,rgba(125,185,232,0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59ffffff",endColorstr="#007db9e8",GradientType=1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c7e8c7;
    border-radius: 11px !important;
}
label{
    color: rgb(86 86 86);
}
.bg-blue{
    background-color:#214ba3!important
}
.bg-gry{
    background-color:#565656!important
}