<div class="row">
    <div class="col-md-4">
        <label for="assingedto">Select</label>
        <select id="assingedto" [(ngModel)]="assingedto" (change)="getassignedto($event)" class="form-control">
            <option *ngFor="let item of userList" [value]="item.email_id">{{item.name}}</option>
        </select>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div style="text-align: center;">
            <h4 class="title-f">Your Allocation List</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="search-hero">
                    <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                        [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
                </div>
            </div>
        </div>
        <div class="card-box">


            <p-table [value]="Excel_Datas | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="5" [rowHover]="true"
                            [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['type']">

                            <ng-template pTemplate="header">
                                <tr class="thhead">

                                        <th>Actions</th>
                                        <th>S.no</th>
                                        <ng-container *ngFor="let lesson of saved_Fields ; let i = index">
                                            <th>{{lesson.fields}}</th>
                                        </ng-container>
                                        <th>Mark Status</th>
                                        <th>OPTIONS</th>
                                
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-i="rowIndex">
                                <tr  class="tdrow" >
                                    <td><input type="checkbox" (change)='onSelect(item,$event,i)'></td>
                                <td>{{i+1}}</td>
                                <td *ngFor="let val of item">
                                    {{val}}
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-success"
                                        (click)="goto('admin_panel/user/createuser', saved_Fields, item)">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </td>
                                </tr>
                            </ng-template>
                        </p-table>



        </div>
    </div>
    <div class="col-md-6">
        <div style="text-align: center;">
            <h4 class="title-f">Transfered Allocations</h4>
            <div class="d-flex justify-content-center" *ngIf="!Agentselected">
                Select an Agent
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="search-hero">
                        <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                            [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
                    </div>
                </div>
            </div>
            <div class="card-box" *ngIf="noData"> No data Found </div>
            <div class="card-box" *ngIf="Agentselected">
                <div *ngFor="let item of tableData; let i = index">
                    <div class="d-flex justify-content-between" (click)="getselectedTable(i,item)">
                        <span style="color: red;">{{item.createdAt | date}}</span> <span style="color: green;">View
                            more</span>
                    </div>
                    
                    <ng-container *ngIf="selectedIndex == i">
                        <p-table [value]="item.datas" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="5" [rowHover]="true"
                            [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['type']">

                            <ng-template pTemplate="header">
                                <tr class="thhead">

                                    <th *ngFor="let item of item.headers">{{item.fields}}</th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-ite let-i="rowIndex">
                                <tr  class="tdrow" >
                                    <td *ngFor="let colData of ite">{{colData}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                    <hr>
                </div>





            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div>
            <button class="btn btn-sm btn-primary" (click)="assignto()"> Assign </button>
        </div>
    </div>
</div>