<h4 class="title">Inbox Portfolio List</h4>
<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-3">
        <div class="search-hero" style="margin-top: 15px;">
            <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
        </div>
    </div>
    <div class="col-md-2">
        <h5 class="form-lable">Bank Name:</h5>
        <p-dropdown [options]="type" [(ngModel)]="cli_type" placeholder="Select" optionLabel="y" [showClear]="true">
        </p-dropdown>
    </div>
    <div class="col-md-2">
        <h5 class="form-lable">Portfolio Type:</h5>
        <p-dropdown [options]="type" [(ngModel)]="cli_type" placeholder="Select" optionLabel="y" [showClear]="true">
        </p-dropdown>
    </div>
    <div class="col-md-2">
        <h5 class="form-lable">Type of allocation:</h5>
        <p-dropdown [options]="type" [(ngModel)]="cli_type" placeholder="Select" optionLabel="y" [showClear]="true">
        </p-dropdown>
    </div>

    <div class="col-md-3 text-right">
        <button type="button" style="margin-top: 22px;" class="btn btn-primary btn-bg-blue">Export to Excel</button>
    </div>
</div>
<!-- <div class="card-box">
    <div class="row" style="padding: 0px 0px 23px 10px;">
        <div class="col-md-3">
            <h5 class="form-lable">User Group:</h5>
            <input type="text" pInputText [(ngModel)]="Name" placeholder="User group">
        </div>

        <div class="col-md-6 mt-20">
            <button type="button" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-primary btn-bg-blue">Export to Excel</button>
        </div>

    </div>
</div> -->
<!-- <div class="row">

    <div class="col-md-8 text-right">
    </div>
</div>
<div class="doc-table">
    <div class="card-box"> <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="5"
        [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">

        <ng-template pTemplate="header">
            <tr class="thhead">
                <th class="th-1">
                    S.No
                </th>
                <th>
                    Bank Name
                </th>
                <th>
                    Portfolio name
                </th>
                <th>
                    No of accounts allocated </th>
                <th>
                    Date of allocation </th>
                <th>
                    Total outstanding
                </th>
                <th>
                    target </th>
                <th>
                    ff
                </th>
                <th style="width: 110px;text-align:center">
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr class="tdrow" >
                <td>{{i+1}}</td>
                <td>Type-1</td>
                <td>Type-1</td>
                <td>Type-1</td>
                <td>Type-1</td>
                <td>Type-1</td>
                <td>Type-1</td>
                <td>Type-1</td>
                <td class="act">
                    <i style="color: #2196f3;" class="fa fa-list-alt" aria-hidden="true" (click)="acc_list()"
                        pTooltip="View Account List"></i>
                    <i style="color: #a4a729;" class="fa fa-exchange" aria-hidden="true"
                        pTooltip="Transfer portfolio"></i>
                </td>
            </tr>
        </ng-template>
     </p-table>  </div>

</div> -->


<h4 class="title-f">New Accounts</h4>
<div class="row">
<div class="card-box"> <p-table [value]="Finals_excel | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="50"
    [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['type']">
    <ng-template pTemplate="header">
      <table>
        <tr>
         <!-- <th>Actions</th> -->
         <th>S.no</th>
         <ng-container *ngFor="let lesson of saved_Fields ; let i = index">
           <th>{{lesson.fields}}</th>
         </ng-container>
         <th>Mark Status</th>
         </tr>
         <tr *ngFor="let row of Excel_Datas ; let i = index">
           <!-- <td><input type="checkbox" [(ngModel)]="row[row.length - 1]"></td> -->
           <td>{{i+1}}</td>
           <td *ngFor="let val of row">
               {{val}}
           </td>
        </tr>
      </table>
    </ng-template>
 </p-table>  </div>
</div>
