@import "../../../../assets/css/style.css";

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 0px 13px 2px 14px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.example-spacer {
    flex: 1 1 auto;
}

.head-tool{
    box-shadow: 0px 0px 28px 0px rgb(82 63 105 / 45%);
    color: white;
    position: fixed;
    top: 0px;
    z-index: 9;
    background-color: #154476;
    height: 75px;
    width: 100%;
}
.logo-img {
    padding-left: 55px;
    margin-top: 12px;
}
:host::ng-deep  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: auto !important;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    margin-top: 15px;
}
.card-box-i img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
button{
    outline: none !important;
}
.work{
    font-weight: 500;
    font-size: 13px;
    margin-right: 15px;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
    background: #154476;
    color: #fff;
}
.blinking{
    animation:blinkingText 0.8s infinite;
    background: #ffc066 !important;
}

@keyframes blinkingText{
    0%{     color:#154476;   }
    49%{    color: #154476;}
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color:#154476;    }
}



.card-text h3 {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    /* margin-top: -16px; */
    margin: 0px;
}


.card-box p {
    margin-bottom: 2px;
    font-size: 11px;
    font-weight: 500;
    color: #989898;
    text-align: left;
}

.card-i img {
    width: 100%;
    max-width: 100px;
    margin-top: 8px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 15px 15px 0px 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 3px #019377;
    height: 116px; */
    padding: 0px;
    background: #fff;
    border-radius: 0;
    box-shadow: 0px 3px 3px 0px #01937726;
    margin-bottom: 15px;
    height: 50px;
    overflow: hidden;
    text-align: center;
}

.card-i {
    flex-basis: 30%;
    padding: 10px;
    background: #2196F3;
    /* height: 78px;
    padding: 0px 0px 3px;
    text-align: center; */
}
.card-text {
    flex-basis: 70%;
    padding: 5px;
    height:50px;
    /* text-align: left;
    font-weight: 500;
    font-size: 24px;
    margin-top: 12px; */
}

.card-box-1 {
    padding: 20px 30px 0px 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 0px #d5d2d2;
    margin-bottom: 5px;
}

.card-box-i img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card-box-text p {
    font-size: 14px;
    color: #5f5f60;
    font-weight: bold;
    margin-bottom: 2px;
}

.card-box-text h5 {
    color: #9d9c9c;
    font-weight: 400;
}

.hover-box {
    padding-top: 17px;
}

.hover-box:hover {
    background: #e4f1fb;
    border-radius: 8px;
}

.head-text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    /* padding-left: 10px; */
    color:#0e69dd;
}

.head-text span {
    float: right;
    font-size: 13px;
    padding-right: 14px;
    color: #007ad9;
}
.act i{
    padding: 3px 3px;
}
.title-h3{
    font-size: 13px;
    font-weight: 600;
    margin: 0px;
}

:host::ng-deep .ui-paginator .ui-paginator-current {
    display: none;
}
.bg-org{
    background: #FF5722 !important;
}
.bg-green{
    background: #019377 !important;
}
.bg-blue{
    background: #0e69dd !important;;
}
.chart-box{
    border: 1px solid #cacaca;
padding: 10px 10px 10px 10px;
}
.head-chart {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #ffffff;
    padding: 0px 10px;
    background: #0e69dd;
}
