/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

@import "primeicons/primeicons.css";
@import  "primeng/resources/themes/nova-light/theme.css";
@import  "primeng/resources/primeng.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
    height: 100%;
    text-transform: capitalize !important;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

:host::ng-deep  .mat-dialog-container {
    padding: 30px !important;
    height: 600px !important;
  }
