<!-- <h4 class="title">Loan Details</h4> -->
<br>
<div class="row">
    <!-- <div class="col-md-4">
        <div class="search-hero">
            <input class="form-control" type="text" name="search2" style="font-family: FontAwesome;"
                [(ngModel)]="searchQR" autocomplete="off" placeholder="&#xf002; Search...">
        </div>
    </div> -->
    <div class="col-md-5">
        <h5 class="form-lable">Loan Number: <span>1234568908765432</span></h5>
    </div>
    <div class="col-md-5">
        <h5 class="form-lable">Customer Name: <span>Mohammed Imthiyas</span></h5>
    </div>
    <!-- <div class="col-md-2 text-right">
        <button type="button" class="btn btn-primary mr-0" (click)="show2()">Add</button>
    </div> -->
    <div class="col-md-12">
        <div class="doc-table">
            <table class="det-t">
                    <tr style="text-align: left;">
                        <th>Financier:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>LOB:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Loan Type:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Loan Currency:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Scheme:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Loan Financed:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Interest Type:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Interest Rate(%):</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Tenure:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Asset Cost:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Sourcing Dealer:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Security Deposite:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>No. of installments:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Frequency:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Installment Mode:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>EMI:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Billed Installment:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Due Date:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Collection Cycle:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Cycle Date:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Loan To Value:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>Note Date:</th>
                        <td><input type=""></td>
                    </tr>
                    <tr style="text-align: left;">
                        <th>EMI Start Date:</th>
                        <td><input type=""></td>
                    </tr>
            </table>
        </div>
    </div>
</div>

<br>
