

@import "../../../../assets/css/style.css";

:host::ng-deep .doc-table .ui-table table {
    width: 5000px !important;
}
:host::ng-deep .ui-table-wrapper{
overflow-x: scroll;
}


table, th, td {
  border: 1px solid #c8c8c8;
  border-collapse: collapse;
  background-color: #575a5e24;
  padding: 3px;
}

.add-icon{
    font-size: 12px;
    color: #ffffff;
    margin-top: 27px;
    padding: 8px 19px;
    background: #0e69dd;
}
.spec-table {
      /*  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */

    border-collapse: collapse;
    width: 100%;
  }

  .spec-table td, .spec-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .spec-table tr:nth-child(even){background-color: #f2f2f2;}

  .spec-table tr:hover {background-color: #ddd;}

  .spec-table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #747f7f;
    color: white;
font-weight:500;
  }
  input {
    overflow: visible;
    width: 90%;
}

:host::ng-deep .my-custom-dialog-class .mat-dialog-container {
    height: 600px !important;
  }

  :host::ng-deep  .tab-info .mat-tab-label {
    height: 35px !important;
    padding: 5px 5px !important;
    min-width: 31px !important;
    width: 31px !important;
}

:host::ng-deep .tab-info .mat-tab-labels {
  background: #0A2440  !important;
}


:host::ng-deep .tab-info  .mat-tab-label-active{
  background: #fff !important;
}


:host::ng-deep .tab-info .mat-icon  {
  background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 18px;
    width: 24px;;
    font-size: 16px;
  color: #fff !important;
}

:host::ng-deep .tab-info .mat-tab-label-active .mat-icon  {
  background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 18px;
    width: 24px;
    color: #0e69dd !important;
    font-size: 16px;
}



.ht-img img{
  width: 33px;
  float: left;
  padding: 3px;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 10px;

}
.pr-t th, .pr-t td{
  border: none;

}
.follow{
  position: fixed;
    right: 0;
    top: 50px;
  background: #20353f;
}
.follow .mat-icon {
    color: #fff;
    padding: 6px 6px;
    width: auto;
    height: auto;
    font-size: 17px !important;
    cursor: pointer;
}
.active-i .mat-icon{
  background-color: #a8b2c1;
  color: #1758ad;
}
:host::ng-deep .ui-widget:disabled {
  opacity: 1 !important;
}
hr{
  margin-top: 0px;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgb(37 63 100);
}
.active-i i{
  background-color: #a8b2c1;
  color: #1758ad;
}
i {
  color: #fff;
  padding: 6px 6px;
  width: auto;
  height: auto;
  font-size: 17px !important;
}
:host::ng-deep .tab-info .mat-tab-header {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  position: fixed;
  width: calc(100% - 87px);
  top: 160px;
  z-index: 999;
}
:host::ng-deep .tab-info .cus-tab .mat-tab-header {
  display: flex;
  overflow: hidden;
  position: initial;
  width: 100%;
}
.profile-fix{
  z-index: 999;
  width: calc(100% - 87px);
  background: #fff;
  padding-top: 10px;
}
.inner-a{
  color: #fff;
  padding: 4px 10px;
  margin-right: 10px;
  background-color: #747f7f;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;

}
.flex-1{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.ht-img{
  flex-basis: 15%;
  align-self: center;

}
.ht-t{
  flex-basis: 85%;
}
.pr-t th,.pr-t td {
  font-size: 12px;
    border-left: 1px solid #c4c4c4;
}
.coll-i{
    color: #253f64;
    padding: 6px 6px;
    width: auto;
    height: auto;
    font-size: 14px !important;

}
.follow i{
  cursor: pointer;
}
td input{
  font-size: 12px;
}
button:focus {
  outline: none !important;
}
input[type=checkbox], input[type=radio] {
 width: auto !important;
 margin-right: 15px;
}